/* No CSS Reset with Bootstrap */
/*These initial styles come from here: http://getbootstrap.com/examples/starter-template/starter-template.css*/

body {
  padding-top: 50px;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 12px;
}

.topsection {
  text-align: center;
  margin: 20px 0 0 0;
}

.topbox h1 {
  font-size: 5rem;
  font-weight: 600;
}

.byline {
  font-size: 1.5rem;
  font-weight: 400;
  color: #777;
  margin: 15px 0 20px 0;
  font-style: italic;
  text-transform: uppercase:
}

.lowercase span {
  text-transform: lowercase;
}

.lead p {
  font-size: 1.75rem;
}

.graphiccontainer {
  margin: 0 0 20px 0;
  padding: 20px 20px;
}

.textblock {
  margin: 0 20px 0 0;
  padding: 0 20px 0 20px;
}

.graphictitle h2 {
  font-size: 2.5rem;
  margin: 0 0;
  padding: 0 0;
}

.graphictext {
  margin: 15px 0 0 0;
}

.graphictext p {
  font-size: 1.35rem;
}

.graphicblock {
  padding: 0 20px 0 20px;
  border-left: 2px solid #777;
}

.stadiummap {
  max-width: 600px;
  border: 2px inset;
}

.worldmap {
  max-width: 600px;
  border: 2px inset;
}

#buttontwo {
  display: none;
}

#buttonfour {
  display: none;
}

.legendbox {
  width: 200px;
  height: 200px;
  border: 1px solid #aaa;
  z-index: 1;
  position: absolute;
  bottom: 10px;
  left: 40px;
  background-color: #eee;
}

.legendbox h4 {
  padding-left: 10px;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.legendentry {
  padding-left: 10px;
  font-size: 12px;
  border: 1px solid #ccc;
  margin: 0px 10px 2px 10px;
}

.champions {
  background-color: #000000;
  color: #eee;
}

.finals {
  background-color: #AD866A;
  color: #eee;
}

.semifinals {
  background-color: #a8201a;
}

.quarterfinals {
  background-color: #ec9a29;
}

.round16 {
  background-color: #0f8b8d;
}

.round32 {
  background-color: #dad2d8;
}

.roundnotinwc {
  background-color: #ffffff;
}

#passeschart {
  width: 100%;
  height: 600%;
  max-width: 600%;
}

#winlosschart {
  width: 100%;
  height: 800px;
}

@media only screen and (max-width: 767px) {
  .textblock {
    margin: 0 0;
    padding: 20px 20px;
  }

  .graphicblock {
    padding: 20px 20px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #777;
  }

  .topsection {
    padding: 20px 20px;
  }

  .topsection h1 {
    font-size: 3.8rem;
  }

  .graphicblock {

  }
}
