body {
  padding-top: 100px;
  font-family: "Libre Franklin", sans-serif;
  font-size: 12px;
  font: black;
}

.topsection {
  text-align: center;
}

.topbox h1 {
  font-size: 5rem;
  font-weight: 600;
}

.byline {
  font-size: 1.5rem;
  font-weight: 400;
  color: #777;
  margin: 15px 0 20px 0;
  font-style: italic;
  text-transform: uppercase:
}

.lowercase span {
  text-transform: lowercase;
}

.lead p {
  font-size: 1.75rem;
}

.graphcontainer {
  margin: 0 0 20px 0;
  padding: 20px 20px;
}

.textblock {
  margin: 0 20px 0 0;
  padding: 0 20px 0 20px;
}

.graphtitle h2 {
  font-size: 2.5rem;
  margin: 0 0;
  padding: 0 0;
}

.graphtext {
  margin: 15px 0 0 0;
}

.graphtext p {
  font-size: 1.35rem;
}

.graphblock {
  padding: 0 20px 0 20px;
  border: 2px solid #777;

}

#picture {
  height: 400px;
  width: 100%;
}

#columnrange {
  height: 400px;
  width: 100%;
}

#columnchart {
  height: 400px;
  width: 100%;
}

#barchart {
  height: 400px;
  width: 100%;
}

#carto {
  height: 400px;
  width: 100%;
}

.sources {
  text-align: center;
}

#stackedbar {
  height: 400px;
  width: 100%;
}

#titlediv {
  height: 10px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  position: relative;
  top: 10px;
}

.btn {
  position: relative;
  top: 70px;
}

#buttontwo {
  display: none;
}

#buttonthree {
  display: none;
}

.explainertext {
  position: relative;
  font-size: 13px;
  width: 475px;
  float: right;
  top: 70px;
}

#firstexplainertext {
  display: none;
}

#secondexplainertext {
  display: none;
}

#thirdandnoexplainertext {
  display: none;
}

#firsttrimester {
  height: 200px;
  width: 79%;
  background-color: #95CEFF;
  padding-left: 0;
  position: relative;
  float: left;
  top: 100px;
  display: none;
}

.percents {
  font-size: 48px;
  text-align: center;
  position: relative;
  top: 60px;
  display: none;
}

#secondtrimester {
  height: 200px;
  width: 19%;
  background-color: #A9FF96;
  position: relative;
  float: left;
  top: 100px;
  display: none;
}

#thirdtrimester {
  height: 200px;
  width: 1%;
  background-color: #5C5C61;
  position: relative;
  float: left;
  top: 100px;
  display: none;
}

#nocare {
  height: 200px;
  width: 1%;
  background-color: #FFBC75;
  position: relative;
  float: left;
  top: 100px;
  display: none;
}

#zeropercent {
  height: 10px;
  width: 30%;
  border-top: 2px solid #777;
  position: relative;
  float: left;
  top: 120px;
}

#percentofwomen {
  height: 10px;
  width: 40%;
  text-align: center;
  border-top: 2px solid #777;
  position: relative;
  float: left;
  top: 120px;
}

#hundredpercent {
  height: 10px;
  width: 30%;
  border-top: 2px solid #777;
  text-align: right;
  position: relative;
  float: right;
  top: 120px;
}

footer {
  text-align: center;
}
