* {
  box-sizing: border-box;
}

div {
  font-weight: 300;
}

/*styles for my resume*/
body {
  font-size: 12px;
  color: #444;
  font-family: "Open Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*bold font setting for doc*/
h1, h2, h4, h5, p, ul, li{
  font-weight: 300;
}

#top {
  margin: 0 auto 35px auto;
  padding: 0 0 10px 0;
  background-color: #FFFFFF;
  width: 100%;
  position: fixed;
  z-index: 1;
  box-shadow: 0 1px 1px 0 rgba(1,1,1,0.2);
}

/*changed h1 to #name*/
/*banner name at top*/
#name {
  font-size: 4em;
  text-align: center;
  border-bottom: 1px solid #FDB020;
  width: 60%;
  min-width: 300px;
  margin: 5px auto;
}

/*added this 6/13*/
.menu {
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu li {
  display: inline;
}

a:link {
  text-decoration: none;
  color: #444;
}

#bottom {
  margin: 0 auto;
  position: relative;
  top: 120px;
  width: 95%;
  height: auto;
  overflow: auto;
}

/*changed h2 to sectionheader*/
/*section titles*/
.sectionheader {
  font-size: 2em;
  text-transform: uppercase;
  background-color: #b1b1b1;
  color: rgba(255, 255, 255, 1);
  margin: 7px 0 10px 0;
  text-align: center;
  width: 30%;
  min-width: 150px;
  border-bottom: 1px solid rgba(253, 176, 32, 0.4);
  float: left;
}

#experience, #education, #skills {
  margin: 0 auto 20px auto;
  padding: 10px 10px;
  width: 90%;
  height: auto;
  overflow: auto;
  border: 1px solid #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.alljobs {
  width: 65%;
  float: left;
  margin: 0 0 0 4%;
  border-left: 1px solid rgba(253, 176, 32, 0.3);
  padding: 0 0 0 20px;
}

.job {
  margin: 0 0 15px 0;
}

/*changed h3 to jobtitle*/
/*job titles*/
.jobtitle {
  font-weight: 600;
  font-size: 1.5em;
}

/*changed h4 to organization*/
/*job organization*/
.organization {
  font-size: 1.33em;
}

/*changed h5 to date*/
/*job dates*/
.date {
  font-style: italic;
  font-size: 1em;
  margin: 2px 0 0 0;
}

.description {
  margin: 10px 0 0 0;
}

/*contact info, skills, edu*/
ul, li {
  font-size: 1.1em
}

.degrees, .do {
  margin: 0 auto 0 4%;
  width: 65%;
  float: left;
  list-style-type: none;
  -webkit-padding-start: 21px;
  border-left: 1px solid rgba(253, 176, 32, 0.3);
}

.degrees, .do li {
  margin-bottom: 3px;
}

/*extra small devices, phones*/
@media only screen and (max-width: 767px) {
  #top {
    position: relative;
  }
  #bottom {
    position: relative;
    top: 0;
  }
  #name {
    font-size: 3em;
  }
  .alljobs {
    padding: 10px 10px;
    margin: 0 0;
    width: 100%;
    border: none;
  }
  .sectionheader {
    margin: 10px auto 15px auto;
    padding: 5px 10px;
    width: 97%;
    min-width: 0;
    text-align: center;
    float: none;
  }
  .degrees, .do {
    margin: 15px 2% 0 2%;
    padding: 0 20px;
    width: 100%;
    float: none;
    border: none;
    -webkit-padding-start: 0;
  }
}
/*small devices, tablets*/
@media only screen and (min-width: 768px) and (max-width: 991px) {

}
/*medium devices, desktops*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {

}
/*large devices, desktops*/
@media only screen and (min-width: 1200px) {

}
